# Discord
DISCORD_TOKEN=il_token_del_tuo_bot
CLIENT_ID=id_applicazione_discord
GUILD_ID=id_del_tuo_server

# Ruolo che puo' creare/modificare ordini e dare recensioni
STAFF_ROLE_ID=id_ruolo_staff

# Canale dove verra' pubblicato il messaggio fisso "Lascia una recensione"
CANALE_RECENSIONI_ID=id_canale_recensioni

# Canale dove appare una copia di TUTTI gli ordini creati (opzionale)
CANALE_ORDINI_LOG_ID=id_canale_ordini_log
